<p>Here is some explanatory text that will be displayed throughout the tutorial.</p>
{{viewport-3d}}
{{rotation-container matrices=model.matrices}}<p></p>
= {{rotation-ctrl matrix=model.result allowClose=false}}
<button {{action 'addRotation'}}>Add Rotation</button>
{{#if hasError}}
<span>Error</span>
{{/if}}
