<p>Here is some explanatory text that will be displayed throughout the tutorial.</p>
<div>{{viewport-3d class="viewport"}} {{rotation-ctrl matrix=model.result allowClose=false editable=false}}</div>
{{rotation-container matrices=model.matrices}}<p></p>
<button {{action 'addRotation'}}>Add Rotation</button>
{{#if hasError}}
<span>Error</span>
{{/if}}
